.profile{
    width:100%;
    height: 200px;
	background-color: hsla(0, 86%, 88%, 0.07);
}
.myProfile{
    color: azure;
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
    padding: 155px 165px 0 ;
}

.profileHr{
    height: 1.5px;
    background-color: rgb(190, 167, 167);
    border: none;
    margin: 10px 50px 10px 50px;
}

.profile{
    display: flex;
}

.profileRight{
    flex: 9
}

.profileCover{
    height: 320px;
    position:relative
}

.profileImage{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: 100px 50px 50px 50px;
    border: 5px solid rgb(190, 167, 167);
}

.profileInfo{
    display: flex;
    flex-direction:column;
    align-items: left;
    justify-content: left;
    width:70%;
    height: 250px;
    border-radius: 10px;
	background-color: hsla(0, 86%, 88%, 0.07);
	box-shadow:
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	0px 2px 2px 0px hsla(0,0%,0%,0.14), 
	0px 3px 1px -2px hsla(0,0%,0%,0.12), 
	0px 1px 5px 0px hsla(0,0%,0%,0.2);

    color: azure;
}
.profileInfoName {
    padding: 30px 30px 10px 70px;    
    font-size: larger;
}

.profileInfoDescription{
    margin-top: 10px;
    margin-left :75px ;
    justify-content: center;
}
.profileInfoDescriptionStatus{
    margin-top: 20px;
    margin-left :65px ;
}
.profileInfoDescriptionYear{
    margin-top: 20px;
    margin-left: 80px;
}


.profileRightBottom{
    display: flex;
}

.foot{
    margin-top: 550px;
    width:100%;
    height: 15px;
	background-color: hsla(0, 86%, 88%, 0.07);
    font-size: 11px;
    color: rgb(190, 167, 167);
    padding: 5px;
    text-align: center;
} 
.shareButtonProfile{
    width: 9%;
    margin-top: 20px;
    border: none;
    border-radius: 7.5px;
    padding: 7px 15px 7px 15px;
    background-color: rgb(190, 126, 126);
    color: azure;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    margin-left: 360px;
    margin-right: 20px;
}

.shareButtonProfile:hover{
    background-color: rgb(186, 138, 138);
}